@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
html,
body,
input,
button,
textarea,
select,
a {
  font-family: "Poppins", sans-serif;
}

a {
  color: #f96332;
}

html,
body {
  overflow: auto;
}

.btn {
  cursor: pointer;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 16px;
  text-align: center;
}

.btn-icon-link {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.btn-icon-link:hover {
  color: #fff;
  background-color: #fe4c50;
}

.nameShop {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 20px auto;
}

.nameShopContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-t-5 {
  margin-top: 5px;
}
.card {
  background: #fff;
  margin-bottom: 30px;
  transition: 0.5s;
  border: 0;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  box-shadow: none;
}
.card .body {
  font-size: 14px;
  color: #424242;
  padding: 20px;
  font-weight: 400;
}
.profile-page .profile-header {
  position: relative;
}

.profile-page .profile-header .profile-image img {
  border-radius: 50%;
  width: 140px;
  /* max-height: 60px; */
  border: 3px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profile-page .profile-header .social-icon a {
  margin: 0 5px;
}

.profile-page .profile-sub-header {
  min-height: 60px;
  width: 100%;
}

.profile-page .profile-sub-header ul.box-list {
  display: inline-table;
  table-layout: fixed;
  width: 100%;
  background: #eee;
}

.profile-page .profile-sub-header ul.box-list li {
  border-right: 1px solid #e0e0e0;
  display: table-cell;
  list-style: none;
}

.profile-page .profile-sub-header ul.box-list li:last-child {
  border-right: none;
}

.profile-page .profile-sub-header ul.box-list li a {
  display: block;
  padding: 15px 0;
  color: #424242;
}

.product-grid {
  font-family: "Poppins", sans-serif;
}
.product-grid .product-image {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.product-grid .product-image a.image {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-grid .product-image .img-1 {
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-image .img-1 {
  opacity: 0;
}
.product-grid .product-image .img-2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-image .img-2 {
  opacity: 1;
}
.product-grid .product-hot-label,
.product-grid .product-discount-label {
  color: #fff;
  background: #fe4c50;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-grid .product-discount-label {
  background: #fe4c50;
  left: auto;
  right: 10px;
}
.product-grid .product-view {
  color: #fff;
  background: #000;
  font-size: 16px;
  text-align: right;
  line-height: 50px;
  width: 60px;
  height: 60px;
  padding: 0 16px 0 0;
  border-radius: 50px;
  opacity: 0;
  transform: scale(0);
  position: absolute;
  bottom: -40px;
  left: -40px;
  transition: all 0.3s ease;
}
.product-grid:hover .product-view {
  opacity: 1;
  transform: scale(1);
  bottom: -20px;
  left: -20px;
}

.color-etsy {
  color: #fe4c50;
}

.product-grid .product-view:hover {
  background: #fe4c50;
}
.product-grid .product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateY(50%);
  position: absolute;
  bottom: 50%;
  right: 10px;
  z-index: 1;
}
.product-grid .product-links li {
  margin: 5px 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
}
.product-grid .product-links li:nth-child(2) {
  transition-delay: 0.1s;
}
.product-grid .product-links li:nth-child(3) {
  transition-delay: 0.2s;
}
.product-grid:hover .product-links li {
  opacity: 1;
  transform: translateX(0);
}

.product-grid .product-links li a {
  color: #000;
  background: #fff;
  font-size: 16px;
  text-align: center;
  /* line-height: 33px; */
  /* width: 35px;
  height: 35px; */
  /* border: 1px solid #000; */
  display: block;
  transition: all 0.3s ease;
}
.product-grid .product-links li a:hover {
  color: #fff;
  background: #fe4c50;
  border-color: #fe4c50;
}
.product-grid .product-content {
  background: #fff;
  padding: 15px 0 0;
}
.product-grid .rating {
  color: #f7bc3d;
  font-size: 11px;
  padding: 0;
  margin: 0 0 8px;
  list-style: none;
}
.product-grid .rating li {
  display: inline-block;
}
.product-grid .rating .disable {
  color: #a3a3a3;
}
.product-grid .title {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 8px;
}
.product-grid .title a {
  color: #222;
  font-weight: 500;
  max-lines: 2;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover {
  color: #fe4c50;
}
.product-grid .price {
  color: rgb(63, 62, 62);
  font-size: 15px;
  font-weight: 400;
}
.product-grid .price span {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 5px;
}
@media screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}
